@import "color.css";
@import "flex.css";

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background: var(--gray);
}

body {
    padding: 0 15% 0 15%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.white-border-bottom {
    border-bottom: 1px solid var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0 15px 0;
    font-size: 12px;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--accent);
}

.logo {
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
}

header nav a {
    margin-left: 60px;
}

#landing {
    margin-top: 15vh;
    padding: 15vh 0 15vh 0;
    position: relative;
    overflow: hidden;
}

#me {
    position: absolute;
    right: 100%;
    height: 200px;
    min-width: 200px;
    background-image: url(../media/me.jpg);
    background-size: cover;
    margin-right: 30px;
    opacity: 0;
    transition: 500ms ease-in-out;
    transition-delay: 100ms;
}

#title {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    line-height: 40px;
    font-size: 2em;
    transition: 500ms ease-in-out;
    transition-delay: 1s;
}

#title div {
    margin: 0 0.3em 0 0;
    letter-spacing: 2px;
}

#my-name {
    margin: 0;
    display: flex;
    position: absolute;
    left: 0;
    line-height: 40px;
    font-size: 2em;
    transition: left 800ms ease-in-out 300ms,
                color 600ms ease-in-out 1s;
}

#my-name div {
    margin: 0 0.3em 0 0;
    letter-spacing: 2px;
}

#about-me {
    position: absolute;
    left: 40%;
    top: 100%;
    font-size: 16px;
    line-height: 24px;
    opacity: 0;
    transition: 500ms ease-in-out;
}

#landing-cta {
    margin-bottom: 15vh;
    font-size: 12px;
    color: var(--white);
    text-align: center;
}

#landing-cta span {
    padding-bottom: 2px;
    cursor: pointer;
    border-bottom: 1px solid var(--white);
}

.title-action {
    transition-delay: 0ms !important;
    opacity: 0 !important;
}

.my-name-action {
    color: var(--accent) !important;
    transition: left 800ms ease-in-out 600ms,
                color 400ms ease-in-out 0ms !important;
    left: 40% !important;
}

.me-action {
    transition-delay: 1400ms !important;
    right: 65% !important;
    opacity: 1 !important;
}

.about-me-action {
    transition-delay: 1600ms !important;
    top: 52% !important;
    opacity: 1 !important;
}

section h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
    border-bottom: 1px solid var(--white);
    padding-bottom: 15px;
    margin: 0 0 30px 0;
}

section ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
}

section a {
    text-decoration: none;
}

.half-section {
    width: 40%;
}

.section-work {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-work h3 {
    width: 100%;
}

.section-work span {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid var(--white);
    padding: 20px 40px 20px 40px;
    text-align: center;
    overflow: hidden;
    transition: 400ms ease-in-out;
    cursor: default;
}

.section-work span h4 {
    margin-top: 0;
    transition: 400ms ease-in-out;
}

.section-work span .slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.section-work span .slider div {
    position: absolute;
    bottom: 0;
    transition: 400ms ease-in-out;
}

.section-work span .slider div h5{
    margin: 20px 0 0 0;
}

.section-work span .slider p {
    font-size: 1em;
    margin: 0;
    position: relative;
    opacity: 0;
    transform: translateY(-100%);
    transition: 400ms ease-in-out;
}

.section-work span:hover {
    border: 1px solid var(--accent);
}

.section-work span:hover h4 {
    transform: scale(1.1);
}

.section-work span:hover .slider div{
    opacity: 0;
}

.section-work span:hover .slider p {
    transform: translateY(0);
    opacity: 1;
}

.section-contact {
    margin-top: 300px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
}

input, textarea {
    width: 700px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    font-family: inherit;
    font-size: 1em;
}

textarea:focus, input:focus{
    border: 1px solid var(--accent);
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white);
}

#send-message {
    background: var(--white);
    color: var(--black);
    cursor: pointer;
}

#send-message:hover {
    background: var(--accent);
    color: var(--white);
    border: 1px solid var(--accent);
}

#thank-you {
    position: absolute;
    z-index: -1;
    height: 0;
    width: 100%;
    background: var(--accent);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    overflow: hidden;
    text-align: center;
    transition: 500ms ease-in-out;
}

.ty {
    height: 100% !important;
    z-index: 1 !important;
    color: white !important;
}

#clear-ty {
    margin-top: 20px;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    margin-top: 300px;
    margin-bottom: 30px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer a {
    margin-left: 20px;
    text-decoration: underline;
}

footer p:first-child {
    margin-right: 40px;
}

body::before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 100%;
    height: 600px;
    width: 100%;
    transform-origin: bottom left;
    transform: rotate(20deg);
    background: var(--gray);
    opacity: 0.5;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 150%;
    height: 600px;
    transform-origin: top right;
    transform: rotate(10deg);
    background: var(--gray);
    opacity: 0.5;
    z-index: -1;
}